@model TicketViewModel
<div>
    <div>
        <h4>Details of Ticket #@Model.Ticket.TicketId:</h4>
        <p>Task:@Model.Ticket.Title</p><br>
        <p>Task Description:@Model.Ticket.Description</p><br>
        <p>Priority Level:@Model.Ticket.Priority</p><br>
        <p>Current Status:@Model.Ticket.Status</p><br>
        <p>Deadline:@Model.Ticket.Deadline</p><br>
        <p>Assigned By:@Model.Ticket.Creator.FirstName @Model.Ticket.Creator.LastName</p>
        <p>Assigned To:@Model.Ticket.AssignedUser.FirstName @Model.Ticket.AssignedUser.LastName</p>
    </div> 
    <div class="comment-div">
        <h3>Comments:</h3>
        <form asp-action="AddComment" asp-controller="home" asp-route-id="@Model.Ticket.TicketId" method="post" id="comment-form">
            <textarea asp-for="@Model.Comment.Description" cols="10" rows="10"></textarea>
            <button id="comment-btn">Add Comment</button>
        </form>
        @foreach(var comment in Model.Ticket.Comments)
        {
            <p>@comment.Description</p><br>
            <form asp-action="DeleteComment" asp-controller="home" asp-route-tid="@Model.Ticket.TicketId" asp-route-cid="@comment.CommentId" method="post">
                <button id="delete-btn" class="right"><a>Delete</a></button>
            </form>
            <p>- @comment.CommentedFromUser.FirstName @comment.CommentedFromUser.LastName at @comment.CreatedAt</p>
            <hr>
        }
    </div>
</div>